#CompetitionsBox{
  max-width: 30ch;
  padding-block: 2rem;
  padding-inline: 1.3rem;
  border-radius: 10px;
  h2{
    font-size: 1.6rem;
    font-weight: lighter;
    text-transform:uppercase;
  }
  p{
    font-size: .8rem;
  }
}