@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');

* {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 700;
}

#events {
  padding-inline: 2rem;
  .buttonGroupPapa{
    display: flex;
    justify-content: center;
    align-items: center;
    .armButtonGroup {
      border: #F68989 2px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      text-align: center;
      &>div{
        text-align: center;
      }
  
      .pronites {
        padding-inline: 2rem;
        padding-block: 1rem;
      }
  
      .culti {
        padding-inline: 2rem;
        padding-block: 1rem;
      }
  
      .techy {
        padding-inline: 2rem;
        padding-block: 1rem;
      }

      @media (max-width : 800px) {
        .pronites{
          padding-inline: 1rem;
        }
        .culti{
          padding-inline: 1rem;
        }
        .techy{
          padding-inline: 1rem;
        }
      }
  
      .divider {
        border-left: #F68989 3px solid;
        width: 3px;
        padding-block: 1.2rem;
      }
    }
  }
  .data{
    h1{
      font-size: 4rem;
      text-transform: uppercase;
    }
  }

}