@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Londrina+Solid&family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');

*{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}

.links>*{
    @apply p-2 md:text-2xl text-4xl font-bold md:bg-[#F68989] text-white md:text-black capitalize font-Notable text-center tracking-wider;
}
#nav-icon4 {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
#nav-icon4 >:nth-child(odd){
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #850E35;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
#nav-icon4>:nth-child(2){
    display: block;
    position: absolute;
    height: 5px;
    width: 80%;
    background: #850E35;
    border-radius: 3px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 11px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 21px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 3px;
  top: 0px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 2px;
}

/* HOmepage */
.logo-image{
    width: 120px;
    height: 120px;
    background:50% / cover no-repeat;
    margin-bottom: -5%;
}
.heading-border{
display: flex;
width: 1000px;
height: 279px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
}
.heading-1{
color: #850E35;
text-align: center;
font-family: Lilita One;
font-size: 153px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.link-register{
color: #000;
text-align: center;
font-family: Londrina Solid;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.border-register{
display: flex;
width: 503px;
height: 116px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
width: 572px;
height: 116px;
border-radius: 70px;
border: 7px solid #EE6983;
background: #FFF5E4;
margin-top:-3.5%;
}
.border-register:hover{
background: #EE6983;
.link-register{
  color: #FFF5E4;
}
}
/* About Us */
.followers>*{
  @apply items-center w-auto h-auto p-2 overflow-hidden text-xl text-center text-white font-Moul;
}
.followers>*>h1{
  @apply md:text-5xl text-3xl overflow-hidden
}




@media screen and (max-width:1000px){
    .heading-1{
        font-size:7rem;
        width:screen;
    }
    .border-register{
        width:screen;
        height:80px;
        margin-top:-9%
    }
    .logo-image{
      margin-bottom: -10%;
    }
}
@media screen and (max-width:700px){
  .heading-1{
    font-size: 5rem;
    width: screen;
  }
  .border-register{
    margin-top: -14%;
    width: max-content;
    padding: 4px;
    height: max-content;
  }
  .link-register{
    font-size: 30px;
  }
  .logo-image{
    margin-bottom: -15%;
  }
}
@media screen and (max-width:500px) {
  .heading-1{
    font-size: 3rem;
    margin-bottom: -8%;
  }
  .border-register{
    margin-top:-15%;
  }
  .logo-image{
    margin-bottom:-40%;
  }
}

/* For the Aftermovie Box */
@media screen and (min-width: 640px) {
  .aftermovie {
    width: 41.62rem;
    height: 28.12rem;
  }
}

@media screen and (min-width: 320px) and (max-width:640px) {
  .aftermovie {
    width: 21rem;
    height: 14rem;
  }
}

@media screen and (max-width: 319px) {
  .aftermovie {
    display: none;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;